style.css
body {
  transition: background-color 0.5s ease;
    
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    color: #e6f7ff;
}

button {

  background: #ffdd57;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;

    padding: 12px 28px;
    background-color: #0078ff;
    color: #0f421f;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 25px;
}
